// jQuery
script(src='/assets/jquery/dist/jquery.min.js')
// Bootstrap JavaScript
script(src='/assets/bootstrap/dist/js/bootstrap.min.js')
script(src='/javascripts/main.js', type='text/javascript')
    
block footer