extends ../layouts/main

block content
    form(accept-charset='UTF-8')
    h3 Track Discussions:
    br
    |     
    input.form-control(type='text', name='keyword', value='Input your keyword (topics or hashtags)')
    br
    |     
    input.btn.btn-primary(type='submit', value='Submit')


//- block footer
//- 	script(src='/sockets.js', type='text/javascript')
