body {
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  background-image: url(../images/gplaypattern.png);
  background-attachment:fixed;
}

a {
  color: #00B7FF;
}

.tweetstream {

    background-color: white;
    border: 1px solid #eee;
    padding-top: 70px;
    padding-bottom: 20px;

    // .jumbotron:not(.homejumbo) {
    //     padding: 10px 15px;
    // }

    .tab-content {
        padding-top: 15px;
    }
    .user_status, .user_profile {
        h3 {
            margin-top: 0px;
        }

        hr {
            margin: 10px 0px;
        }
    }

    .user_status {
        footer {
            margin-top: -8px;
            
            cite {
                line-height: 2.2em;
            }
        }
    }

    .user_profile {
        img {
            padding: 2px;
            border: 1px solid #BBB;
            background-color: white;
        }
    }

    cite {
        a {
            color: white;
        }
    }

    .interesting-venues {

        p {
            font-size: 16px;
        }

        table {
            width: 100%;
        }

        table td {
            padding-bottom: 15px;
            vertical-align: top;
        }

        table td:first-child {
            width: 100px;
        }

        img {
            padding: 3px;
            background-color: white;
            border: 1px solid #ccc;
        }

        .type {
            text-transform: capitalize;
        }

        iframe.map {
            border: 1px solid #ccc;
        }
    }

}

// .select2-hidden {
//     display: none !important;
// }
