body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.tweetstream {
    .jumbotron {
        padding: 10px 15px;
    }
    .tab-content {
        padding-top: 15px;
    }
    .user_status {
        h3 {
            margin-top: 0px;
        }

        hr {
            margin: 10px 0px;
        }
    }
}

.select2-hidden {
    display: none !important;
}