body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.tweetstream {

    padding-top: 70px;

    .jumbotron {
        padding: 10px 15px;
    }
    .tab-content {
        padding-top: 15px;
    }
    .user_status, .user_profile {
        h3 {
            margin-top: 0px;
        }

        hr {
            margin: 10px 0px;
        }
    }

    .user_status {
        footer {
            margin-top: -8px;
            
            cite {
                line-height: 2.2em;
            }
        }
    }

    .user_profile {
        img {
            padding: 2px;
            border: 1px solid #BBB;
            background-color: white;
        }
    }

    cite {
        a {
            color: white;
        }
    }

}

.select2-hidden {
    display: none !important;
}