extends ../layouts/main

block content
  ol.breadcrumb
    li
      a(href='/') Home
    li
      a(href='/user') User
    li Nearby Places
    
  include nearby_places

append header
  script(src='/assets/jquery/dist/jquery.min.js')
  script(src='https://maps.googleapis.com/maps/api/js')