extends ../layouts/main

block content
	ol.breadcrumb
		li
			a(href='/') Home
		li
			a(href='/database') Database
		li User Venue

	h3 Users who visited #{venue}
	each user in users
		.row
			&nbsp; &nbsp; &nbsp; &nbsp;
			a(href='/database/userDetails?username='+user.id) #{user.name} 
		